# macOS
.DS_Store

# Swift Package Manager
.build/
Packages/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/

# Xcode
xcuserdata/
*.xcuserstate
DerivedData/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Xcode's SwiftPM integration state
.swiftpm/xcode/xcuserdata/
.swiftpm/xcode/package.xcworkspace/xcuserdata/
